{% extends "base.html" %} {% block body %}
<br>
<br>
<div class="container1 d-flex justify-content-around">
  <div class="cl1">
    <h2 class="text-light text-heading">Crop Leaf Disease Analysis.</h2>
    <p class="text-light text-info">Crop diseases are a major threat to food security, but their rapid identification
      remains
      difficult in many parts of the world due to the lack of the necessary infrastructure. This project aims to build a
      deep learning model and prepare the model for deployment and deploy the model on AWS platform allowing farmers to
      easily make use of latest technologies to diagnose crop disease.
    </p>
    <img class="img-leaf img-thumbnail" src="/static/Wireframe-Example.png"
      alt="error pls contact the developer to fix this">
  </div>
  <div class="vertical"></div>

  <div class="imgsec">
    <h3 class="title text-light">Upload your image</h3>
    <form id="upload-file" method="post" enctype="multipart/form-data">
      <div class="input-group file-input mb-3">
        <input type="file" name="file" class="input-image imageUpload form-control" id="inputGroupFile02"
          accept=".png, .jpg, .jpeg">
      </div>
    </form>
    <div class="img-hidden">
      <div id="imagehidden">
        <div class="img-upload">
          <div class="textimg">
            Upload Image Here!</div>
        </div>
      </div>
    </div>
    <div class="image-section" style="display:none;">

      <div class="img-preview">
        <div id="imagePreview">

        </div>
      </div>
      <div class="btn-predict">
        <button type="button" class="btn btn-primary btn-lg " id="btn-predict">Predict!</button>
      </div>
    </div>

    <!--<div class="loader" style="display:none;">-->
    <div class="newl">
      <svg xmlns="http://www.w3.org/2000/svg" class="loading" xmlns:xlink="http://www.w3.org/1999/xlink"
        style="margin: auto; background: none; display: block; shape-rendering: auto;" width="84px" height="84px"
        viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
        <rect x="19" y="19" width="20" height="20" fill="#30c494">
          <animate attributeName="fill" values="#1c1c1c;#30c494;#30c494" keyTimes="0;0.125;1" dur="1s"
            repeatCount="indefinite" begin="0s" calcMode="discrete"></animate>
        </rect>
        <rect x="40" y="19" width="20" height="20" fill="#30c494">
          <animate attributeName="fill" values="#1c1c1c;#30c494;#30c494" keyTimes="0;0.125;1" dur="1s"
            repeatCount="indefinite" begin="0.125s" calcMode="discrete"></animate>
        </rect>
        <rect x="61" y="19" width="20" height="20" fill="#30c494">
          <animate attributeName="fill" values="#1c1c1c;#30c494;#30c494" keyTimes="0;0.125;1" dur="1s"
            repeatCount="indefinite" begin="0.25s" calcMode="discrete"></animate>
        </rect>
        <rect x="19" y="40" width="20" height="20" fill="#30c494">
          <animate attributeName="fill" values="#1c1c1c;#30c494;#30c494" keyTimes="0;0.125;1" dur="1s"
            repeatCount="indefinite" begin="0.875s" calcMode="discrete"></animate>
        </rect>
        <rect x="61" y="40" width="20" height="20" fill="#30c494">
          <animate attributeName="fill" values="#1c1c1c;#30c494;#30c494" keyTimes="0;0.125;1" dur="1s"
            repeatCount="indefinite" begin="0.375s" calcMode="discrete"></animate>
        </rect>
        <rect x="19" y="61" width="20" height="20" fill="#30c494">
          <animate attributeName="fill" values="#1c1c1c;#30c494;#30c494" keyTimes="0;0.125;1" dur="1s"
            repeatCount="indefinite" begin="0.75s" calcMode="discrete"></animate>
        </rect>
        <rect x="40" y="61" width="20" height="20" fill="#30c494">
          <animate attributeName="fill" values="#1c1c1c;#30c494;#30c494" keyTimes="0;0.125;1" dur="1s"
            repeatCount="indefinite" begin="0.625s" calcMode="discrete"></animate>
        </rect>
        <rect x="61" y="61" width="20" height="20" fill="#30c494">
          <animate attributeName="fill" values="#1c1c1c;#30c494;#30c494" keyTimes="0;0.125;1" dur="1s"
            repeatCount="indefinite" begin="0.5s" calcMode="discrete"></animate>
        </rect>
        <!-- [ldio] generated by https://loading.io/ -->
      </svg>
    </div>

    <span class="result">
      <h3 id="result" style="width:200px; color:white;">Hey iam a result</h3>
    </span>

  </div>
</div>

{% endblock %}